{% if is_pjax %}
    {% extends "pjax_layout.html" %}
{% else %}
    {% extends "layout.html" %}
{% endif %}

{% block body %}
    <ul>
        {% for group in posts_groups %}
        <li>
            <h1>{{ group.year }}</h1>
            <ul class="posts-group">
                {% for post in group.posts %}
                <li><h2><a class="pjax" href="/posts/{{ post.title }}">{{ post.title }}</a></h2></li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>
{% endblock %}

{% e %}
