<html>
<head>
    <meta charset="utf-8">
    <title>{{ title }} - {{ settings.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/yue.css">
    <link rel="stylesheet" href="/static/css/foundation-icons.css">
    <link rel="stylesheet" href="/static/css/layout.css">
    <link rel="stylesheet" href="/static/css/post.css">
    <link rel="stylesheet" href="/static/css/archives.css">
    <link rel="stylesheet" href="/static/css/akarin.css">
    <link rel="stylesheet" href="/static/css/links.css">
    <link rel="stylesheet" href="/static/css/nprogress.css">
    <link rel="stylesheet" href="/static/css/signin.css">
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/jquery.pjax.js"></script>
    <script src="/static/js/jquery.lazyload.min.js"></script>
    <script src="/static/js/nprogress.js"></script>
    {% block head %}
    {% endblock %}
</head>

<body class="yue">
<header>
    <div class="avatar">
        <img src="http://www.gravatar.com/avatar/{{ settings.email_md5 }}?r=x&s=440">
    </div>
    <div class="title">
        <h1>{{ settings.motto }}</h1>
        <a href="mailto:{{ settings.email }}">
            <address>{{ settings.email }}</address>
        </a>
    </div>
    <nav>
        <ul class="nav">
            <li><a class="pjax" href="/">Posts</a></li>
            <li><a class="pjax" href="/diaries">Diary</a></li>
            <li><a class="pjax" href="/archives">Archives</a></li>
            <li><a class="pjax" href="/links">Links</a></li>
        </ul>
    </nav>
</header>

<div class="wrapper">
    {% block body %}
    {% endblock %}
</div>

<footer>
    <a class="rss fi-rss" href="/feed"></a>
    <p class="footer"><small>Powered By <a href="http://github.com/RicterZ/pyprint">PyPrint</a></small></p>
    <p class="footer">
        <small>All content copyright
            <a href="mailto:{{ settings.email }}">{{ settings.username }}</a>
            © 2014 • All rights reserved.
        </small>
    </p>
</footer>

<script>
    // NProgress support of pjax
    $(document).on('pjax:start', function() { NProgress.start(); });
    $(document).on('pjax:end', function() { NProgress.done(); });

    // NProgress
    $(document).ready(function(){ NProgress.start();});
    $(window).load(function(){ NProgress.done(); });

    // Pjax
    $(document).pjax('.pjax', '.wrapper');

    //lazy load
    $("img").lazyload();

    {{ settings.analytics_code }}
</script>
</body>
</html>