{% if is_pjax %}
    {% extends "pjax_layout.html" %}
{% else %}
    {% extends "layout.html" %}
{% endif %}


{% block body %}
    <article class="links">
        <h2>About me</h2>
        <section>
            <p class="about-me">
                咱是 Ricter，学院倒数前十常驻，生物专业，目前休学，坐标帝都<br>
                安全研究员/CTF 赛棍/Python 渣渣开发者/前端苦手<br>
                勾搭咱第一标准是头像要萌，反正咱没 cp<br><br>
                想找我？<br>
                Email: <a href="mailto:RicterZheng@gmail.com">RicterZheng@gmail.com</a><br>
                QQ: r@loli.club<br>
                Github: <a href="https://github.com/RicterZ">https://github.com/RicterZ</a><br>
                Twitter: <a href="https://twitter.com/RicterZ">@RicterZ</a><br>
                Weibo: <a href="http://www.weibo.com/3042667153">@Ricter</a>（名字经常换<br><br>
                另外打个广告<br>
                一个叫做 ACG Hacker 的群，总之就是喜欢 ACG 的黑阔的样子<br>
                太中二的男孩子就算了，欢迎妹子&gt;/////&lt;<br>
                反正群主日下来 i-ab、acgzone 之类的网站一堆（咱不是群主<br>
                群号：<br>
                <pre><code>
                    JiM5OTsmIzEwMTsmIzU2OyYjNTE7JiM1NDsmIzU1OyYjNTY7JiMxMDE7JiM0ODsmIzk3OyYjNTE7JiM0ODsmIzUzOyYjMTAwOyYjNTM7JiMxMDI7JiM1MDsmIzk3OyYjNTE7JiM1NzsmIzQ4OyYjMTAyOyYjNTc7JiM1MzsmIzk5OyYjNTA7JiM1MDsmIzk4OyYjOTg7JiMxMDE7JiM1NzsmIzEwMTs=
                </code></pre><br>
                能解的开吧反正不难（ry<br>
            </p>
        </section>

        <h2>My Friends</h2>
        <section>
            <ul>
                {% for link in links %}
                    <li><a target="_blank" href="http://{{ link.url }}">{{ link.name }}</a></li>
                {% else %}
                    <p>I am alone ..</p>
                {% endfor %}
            </ul>
        </section>
        <section><div id="disqus_thread"></div></section>
    </article>

    <script>
        var disqus_shortname = '{{ settings.disqus_shortname }}';
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>{% endblock %}
