{% extends "layout.html" %}

{% block body %}
   <div class="form-container">
    <form id="signin" method="POST" action="/login">
        <h1 class="sign-in-title">Manager</h1>
        <div class="input-container"><input class="input" id="un" type="text" placeholder="Username" name="username" /></div>
        <div class="input-container"><input class="input" id="pw" type="password" placeholder="Password" name="password" /></div>
        <button class="button-sign-in" type="submit">Sign in</button>
        <div class="alert"></div>
    </form>
</div>
{% endblock %}
