<!DOCTYPE html>
<html>
<head>
    <title>Background</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/kamisama/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/kamisama/static/css/style.css">
    <link rel="stylesheet" href="/kamisama/static/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/static/css/yue.css" type="text/css">
    <script src="/kamisama/static/js/jquery.js"></script>
    <style>

    </style>
</head>
<body>
<header class="navbar navbar-static-top">
    <h1>Kamisama</h1>
    <ul>
        {% block navbar %}
        {% endblock %}
    </ul>
</header>

<div class="panel-container">
    {% block body %}
    {% endblock %}
</div>

<footer>
    <p><small>Powered By <a href="http://github.com/RicterZ/pyprint">pyprint</a> &copy; 2016 • All rights reserved.</small></p>
</footer>
<script src="/kamisama/static/js/jquery.js"></script>
<script src="/kamisama/static/js/bootstrap.min.js"></script>
</body>
</html>
