{% if is_pjax %}
    {% extends "pjax_layout.html" %}
{% else %}
    {% extends "layout.html" %}
{% endif %}

{% block body %}
    {% for post in data.posts %}
        <article>
            <h1 class="title"><a class="pjax" href="/posts/{{ post.title|urlencode }}">{{ post.title }}</a></h1>
            <aside class="time">
                Posted at <time datetime="{{ post.created_time }}">{{ post.created_time }}</time>
            </aside>
            <section class="post-content">
                {{ post.content|markdown }}
            </section>
            <section class="post-tags">
            {% if post.tags %}
                <em>Tagged in:
                {% for tag in post.tags %}
                    <a class="pjax" href="/tags/{{ tag.slug }}">{{ tag.slug }}</a>
                    {% if not loop.last %} / {% endif %}
                {% endfor %}
                </em>
            {% endif %}
            </section>
        </article>
        {% if not loop.last %}
            <hr class="post">
        {% endif %}
    {% endfor %}
    <div class="paging">
        <a href="/page/{{ data.preview }}" class="{% if data.preview <= 0 %}hide{% endif %} pjax">&lsaquo;&lsaquo; Newer</a>
        <a href="/page/{{ data.next }}" class="pjax pull-right {% if data.posts|length < 3 or not data.next %}hide{% endif %}">Older &rsaquo;&rsaquo;</a>
    </div>
{% endblock %}