<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }} - {{ settings.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/material.min.css">
    <link rel="stylesheet" href="/static/css/yue.css">
    <link rel="stylesheet" href="/static/css/font.css">
    <link rel="stylesheet" href="/static/css/material-scrolltop.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/jquery.pjax.js"></script>
    <script src="/static/js/material-scrolltop.js"></script>
    <script src="/static/js/material-progress.js"></script>
    {% block head %}{% endblock %}
</head>

<body>
<div id="p2" class="mdl-progress mdl-js-progress mdl-progress__indeterminate progress-bar"></div>
<div class="mdl-layout__container">
    <div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header has-drawer is-upgraded wrapper" id="top">
        <div class="mdl-layout__drawer navbar">
            <header class="demo-drawer-header">
                <div class="avatar">
                    <img src="/static/imgs/avatar.jpg">
                </div>
                <p class="motto">初心を忘れず</p>
                <div>
                    <a class="email mdl-color-text--blue-grey-600" href="mailto:ricterzheng@gmail.com"><i>ricterzheng@gmail.com</i></a>
                </div>
            </header>
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link pjax" href="/">Home</a>
                <a class="mdl-navigation__link pjax" href="/archives">Archives</a>
                <a class="mdl-navigation__link pjax" href="/diaries">Diary</a>
                <a class="mdl-navigation__link pjax" href="/links">About & Link</a>
                <a class="mdl-navigation__link" href="/feed">RSS</a>
                <div class="mdl-layout-spacer"></div>
                <p class="mdl-nav">Powered by <a target="_blank" href="http://github.com/RicterZ/pyprint">PyPrint.</a>
                    <br>All content copyright <a href="mailto:ricterzheng@gmail.com">Ricter</a> © 2014 • All rights reserved.</p>
            </nav>
        </div>
        <main class="mdl-layout__content yue">
            <div class="page-content">
                <div class="mdl-grid">
                    <div class="mdl-cell mdl-cell--8-col mdl-cell--10-col-tablet container">
                        {% block body %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </main>
        <div class="mdl-layout__obfuscator"></div>
    </div>
</div>
<button class="material-scrolltop" type="button"></button>
</body>
<script>

    //TODO: fix bug of scroll to top
    $('.pjax').click(function() {
        $('body').animate({
            scrollTop: 0
        })
    });

    $(document).ready(function() {
        $('body').materialScrollTop({
            revealElement: 'header',
            revealPosition: 'bottom'
        });
    });

    $(document).on('pjax:start', function() {
        $('.mdl-progress').show();
    });

    $(document).on('pjax:end', function() {
        $('.mdl-progress').hide();
    });

    // Pjax
    $(document).pjax('.pjax', '.container');

    {{ settings.analytics_code }}
</script>
</html>
