{% if is_pjax %}
    {% extends "pjax_layout.html" %}
{% else %}
    {% extends "layout.html" %}
{% endif %}

{% block body %}
    <article>
      <h1 class="title"><a class="pjax" href="/{% if post.type == 'post' %}posts{% else %}diaries{% endif %}/{{ post.title|urlencode }}">{{ post.title }}</a></h1>
        <aside class="time">
            Posted at <time datetime="{{ post.created_time }}">{{ post.created_time }}</time>
        </aside>
        <section class="post-content">
            {{ post.content|markdown }}
        </section>
        <section class="post-tags">
            {% if post.tags %}
                <em>Tagged in:
                {% for tag in post.tags %}
                    <a class="pjax" href="/tags/{{ tag.slug }}">{{ tag.slug }}</a>
                    {% if not loop.last %} / {% endif %}
                {% endfor %}
                </em>
            {% endif %}
        </section>
        <section class="post-comments">
            <div id="disqus_thread"></div>
        </section>
    </article>
    {% if post.type == 'post' %}
    <script>
        var disqus_shortname = '{{ settings.disqus_shortname }}';
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    {% endif %}
{% endblock %}
