.wrapper > article {
    padding-bottom: 60px;
}


.wrapper > article > h1.title {
    text-align: center;
    font-weight: 100;
    font-size: 2.4em;
}

.wrapper > article > h1.title > a {
    color: #333;
}

.wrapper > article > h1.title > a:hover {
    color: #999;
}

.wrapper > article > aside {
    text-align: center;
}

.post-comments {
    margin-top: 30px;
}

.post-tags {
    margin-top: 20px;
}

.post-tags > em {
    color: #666;
}