* {
    margin: 0;
    padding: 0;
}

*:focus { outline: none; }

body {
    font-family: Tahoma, Helvetica, "Microsoft Yahei", "微软雅黑", Arial, STHeiti;
}

a {
    color: #333;
    text-decoration: blink;
}

.main-container {
    background: #F0F0F0;
    padding-bottom: 120px;
}

.header, .footer {
    padding: 40px 20px 8px 40px;
    width: 75%;
    max-width: 960px;
    margin: 0 auto;
}

.header h1 .header li, .header a {
    color: #333;
}

.header h1 {
    font-size: 80px;
    font-weight: 300;
    display: inline-block;
}

.header ul {
	margin: 0 auto;
	padding: 0 5px;
    display: block;
}

.header li {
    display: inline-block;
}

.header a {
    padding: 10px 30px;
    margin: 0 20px;
    border-radius: 10px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;

}

.header a:target {
    color: #000;
}

.header li>a:hover {
    color: #000;
}

.footer {
    text-align: center;
    padding: 40px 20px;
    color: #666;
}

.footer a {
    color: #666;
    font-weight: 600;
}

.copyright {
    font-size: 12px;
}


.input-group > textarea {
    resize: none;
    height: 100px;
}

.input-group > label {
    font-size: 28px;
    vertical-align: sub;
    margin-right: 20px;
    width: 30%;
    display: inline-block;
    text-align: right;
    vertical-align: top;
}

.input-group > .input {
    display: inline-block;
    width: 60%;
}

.input-group {
    margin: 10px auto;
}

@media screen and (max-width: 980px) {
    .header, .footer {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .header {
        padding-bottom: 30px;
    }

    .footer {
        padding: 30px 0;
    }

    .header a {
        padding: 0;
        margin: 0 50px 0 10px;
        display: inline-block;
    }

    .header ul {
        display: inline-block;
    }

}   