
.search-title {
    font-size: 45px;
    padding-bottom: 20px;
    font-weight: 300;
    color: #333;
    text-align: center;
}

.page-input {
    padding: 5px 5%;
    border-radius: 30px 0 0 30px;
    box-shadow: 0 0 0 4px #BBC7CC;
    border: none;
    height: 20px;
    color: #999;
    font-size: 18px;
    float: left;
    border-right: none;
    width: 70%;
}

.input-container {
    display: inline-block;
    margin: 0 auto;
    width: 100%;
}

.page-button {
    color: #000;
    float: left;
    display: inline-block;
    height: 30px;
    width: 15%;
    box-shadow: 4px 0 0 4px #BBC7CC;
    border: none;
    border-radius: 0 30px 30px 0;
    background: #fff;
    border-left: none;
    vertical-align: top;
}

.search-icon {
    height: 25px;
    width: 25px;
    display: block;
    font-size: 25px;
    color: #000;
    margin: 0 auto;
}

@media screen and (max-width: 980px) {
    .form-container {
        width: 100%;
    }

    form {
        margin: 0;
        padding: 0;
    }

    .input-container {
        width: 100%;
    }

    .input {
        width: 60%;
        padding: 5px 5%;
    }

    button {
        border: 0;
        width: 20%;
    }
    
}   