
.input:focus {
    border-color: #666;
}

.input {
    padding: 5px 20px;
    border-radius: 4px;
    border: 4px solid #999;
    color: #666;
    font-size: 18px;
    width: 250px;
    -webkit-transition: border-color .3s ease;
    -moz-transition: border-color .3s ease;
    transition: border-color .3s ease;
}

.input-container {
    text-align: center;
    padding: 10px;
}

.sign-in-title {
    font-size: 45px;
    padding-bottom: 20px;
    font-weight: 300;
    color: #999;
    text-align: center;
}

.button-sign-in {
    padding: 8px 5px;
    border-radius: 4px;
    display: block;
    width: 280px;
    background: #999;
    color: #FFF;
    margin: 30px auto;
    text-align: center;
    -webkit-transition: background .3s ease;
    -moz-transition: background .3s ease;
    transition: background .3s ease;
}

.button-sign-in:hover {
    background: #666;
}

.alert {
    width: 250px;
    padding: 10px 22px;
    text-align: center;
    border: 2px solid #fbeed5;
    background-color: #fcf8e3;
    color: #c09853;
    margin: 0 auto;
    display: none;
}

@media screen and (max-width: 980px) {
    form {
        margin: 0;
    }

    .form-container {
        width: auto;
    }
}