* {
    padding: 0;
    margin: 0;
}

header{
    width:100%;
    padding:50px 0 20px;
    background-size:cover;
    background-image:linear-gradient(to top,rgba(0,0,0,0.8) 0,rgba(0,0,0,0.0001) 100%),url(/static/imgs/banner.jpg);
    box-shadow:0 6px 10px #666;margin-bottom:60px;
}

.avatar {
    box-shadow: 0 0 10px #000;
    width: 150px;
    height: 150px;
    margin: 20px auto;
    overflow: hidden;
    border: 4px solid #FFF;
    border-radius: 100%;
    background: #FFF;
    -webkit-transition: -webkit-transform 400ms;
    -moz-transition: -moz-transform 400ms;
    transition: transform 400ms;
}
.avatar:hover {
    -webkit-transform:rotate(30deg);
    -moz-transform:rotate(30deg);
    transform:rotate(30deg);
}
.avatar img{
    height: 100%;
    margin: 0;
}

header > .title {
    text-align: center;
}

.title h1, .title a, .title address, .nav li, .nav a {
    color: #CCC;
    text-decoration: none;
}

header > .title > h1 {
    margin: 0;
    padding: 0;
    font-size: 1.4em;
    font-weight: 100;
}

ul.nav {
    text-align: center;
    padding: 0;
    margin: 0;
}

.nav li {
    display: inline-block;
    padding: 0 10px;
}

.nav li > a:hover {
    color: #EEE;
}

footer{
    bottom:0;
    position:relative;
    border-top:#D1DADF 1px solid;
    background:#F1F1F1;
    padding:36px;
    margin-top:60px;
    text-align:center;
}

footer *{
    color:#BBC7CC;
    font-weight:100;
    text-decoration: none;
}

footer .rss{
    color: #666;
    font-size:23px;
    position:absolute;
    padding: 1px;
    top:-15px;
    left:50%;
    margin-left:-15px;
    display:block;
    width:25px;
    height:25px;
    border-radius:100%;
    background:#FFF;
    border:1px solid #D1DADF;
    -webkit-transition:box-shadow 400ms;
    -moz-transition:box-shadow 400ms;
    transition:box-shadow 400ms;
}

p.footer {
    margin-bottom: 0;
}

footer .rss:hover{
    box-shadow:0 0 12px #D1DADF;
}

footer .friends{
    font-size:smaller;
}

.hide {
    visibility: hidden;
}

.wrapper {
    width:60%;
    max-width:980px;
    margin:0 auto;
}

.pull-right {
    float: right;
}

@media screen and (max-width:980px){
    .wrapper {width:96%;}
}
