{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="/static/css/index.css">
<link rel="stylesheet" href="/static/css/signin.css">
<link rel="stylesheet" href="/static/css/editor.css">
{% endblock %}

{% block style %}
<style>

</style>
{% endblock %}

{% block body %}
<div class="manage">
    <div class="title-container">
    <h3 id="title-list-header">
        All POSTs
        <a class="button publish" href="##" data-article="">Publish</a>
        <a class="button delete" href="##" data-article="">Delete</a>
        </h3>
        <ul class="title-list">
        {% for article in data %}
            <li>
                <a href="##" class="article-item" data-article="{{ article.id }}">
                    {{ article.title }}
                </a>
            </li>
        {% endfor %}
        </ul>
        <div class="article-area content">
            <input class="input" autocomplete="off" type="text" name="title" id="edit-title" placeholder="Title"></input>
            <input class="input" autocomplete="off" type="text" name="title" id="edit-tag" placeholder="Tags"></input>
            <textarea class="input" id="edit-content" placeholder="Content"></textarea>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="/static/js/editor.js"></script>
{% endblock %}

