{% extends "manager.html" %}

{% block navbar %}
        <li><a href="/editor" class="submenu selected-item">Posts Mangement</a></li>
        <li><a href="/editor/settings" class="submenu">Site Settings</a></li>
        <li><a href="/editor/friends" class="submenu">Friend Links</a></li>
{% endblock %}

{% block body %}
    <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>Failed!</strong><span></span>
    </div>
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>Success!</strong><span></span>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading"><strong>Posts</strong><a class="btn btn-default btn-sm new-article" href="editor/post">New Article</a></div>
        <table class="table table-striped">
        <thead>
            <tr>
                <th class="td-title">Aritlce Title</th>
                <th class="td-operate">Edit</th>
                <th class="td-operate">Delete</th>
            </tr>
        </thead>
        <tbody>
        {% for article in data %}
            <tr>
                <td class="td-title"><a href="/editor/posts/{{ article.id }}">{{ article.title }}</a></td>
                <td class="td-operate"><a href="##"><span class="glyphicon glyphicon-edit"></span></a></td>
                <td class="td-operate"><a class="remove" data-article="{{ article.id }}" href="##"><span class="glyphicon glyphicon-remove"></span></a></td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
        <!--<div class="article-area content">
            <input class="input" autocomplete="off" type="text"  id="edit-title" placeholder="Title" />
            <input class="input" autocomplete="off" type="text"  id="edit-tag" placeholder="Tags" />
            <textarea class="input" id="edit-content" placeholder="Content"></textarea>
        </div>-->
    </div>
    <script>
        $(".remove").click(function(){
            var articleId = this.attributes['data-article'].value,
                parent = $(this).parent().parent();
            $.ajax({
                url: "/articles/" + articleId,
                type: "DELETE",
                success: function(){
                    $(".alert-success").show();
                    $(".alert-success span").text(" The article had been deleted!");
                    $(parent).hide();
                },
                error: function(){
                    $(".alert-danger").show();
                    $(".alert-danger span").text(" Delete the article failed.");
                }
            })
        })
    </script>
{% endblock %}
