{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="/static/css/friends.css">
<link rel="stylesheet" href="/static/css/index.css">
{% endblock %}

{% block body %}
<div>
<h1 class="title">About:</h1>
<div class="content about">
	我是 Ricter ，一个渴望成为菊苣的渣渣。<br/>
	喜欢折腾好玩的东西，讨厌奇葩的东西、底层还有算法(所以说现在还是个渣<br/>
	主要折腾 Python ，顺带折腾一下前端和信息安全<br/>
	活在二次元的世界，喜欢交到朋友和同好。对头像萌的人有好感(ry<br/>
	快 19 岁了，<del>找不到女朋友怎么想都是因为太丑了</del><br/>
	目前在重庆邮电大学生物信息专业就读/顺带在知道创宇 404 远程实习<br/><br/>
	可以在下面几个地方找到我：<br/>
		<a target="_blank" href="https://github.com/ricterz/">Github</a>、
		<a target="_blank" href="http://www.v2ex.com/member/RIcter">V2EX</a>、
		<a target="_blank" href="https://plus.google.com/+RicterZ">Google+</a>、
		<a target="_blank" href="https://twitter.com/RicterZ">Twitter</a>、
		<a target="_blank" href="http://weibo.com/u/3042667153">Weibo</a><br/><br/>
	可以用以下方式联系我：<br/>
		Email：<a href="mailto:ricterzheng@gmail.com">RicterZheng@gmail.com</a><br />
		QQ：i@moeloli.me<br/><br/>
	趴..QAQ..如果能认识您是我的荣幸呢&gt;w&lt;
</div>
<h1 class="title">Friends:</h1>
   <ul class="block content">
       {% if data %}
       {% for friend in data %}
       <li><a target="_blank" href="http://{{ friend.link }}">{{ friend.name }}</a></li>
       {% endfor %}
       {% else %}
       <li>你暂时没有友链。</li>
       <li>You are not yet added any links.</li>
       <li>あなたはまだリンクが追加されていない。</li>
       {% endif %}
   </ul>
   <div id="disqus_thread"></div>
</div>
{% if DISQUS %}
<script type="text/javascript">
    {{ DISQUS | safe }}
</script>
{% endif %}
{% endblock %}