{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="/static/css/index.css">
{% endblock %}

{% block body %}
<div class="articles">
{% for item in data %}
    <article>
        <h1 class="article-title"><a href="/articles/{{ item.id }}">{{ item.title }}</a></h1>
        <aside>
            <time class="published-time" datetime="{{ item.date }}"><small>{{ item.date.strftime('%Y-%m-%d') }}</small></time>
        </aside>
        <section class="content">
            {{ item.content|safe }}
        </section>
        {% if item.tags %}
        <p class="tags"><em>Tagged in: 
            {% for tag in item.tags %}
                <a class="tag" href="/tags/{{ tag.id }}">{{ tag.name }}</a> /
            {% endfor %}
        </em></p>
        {% endif %}
        {% if DISQUS %}
        	<div id="disqus_thread"></div>
        {% endif %}
    </article>
{% endfor %}
{% if page and data %}
    <div class="pagination">
    {% if page-1 > 0 %}
        <a class="paging newer" href="/?p={{ page-1 }}">&lt;&lt; Newer Posts</a>
    {% endif %}
    <a class="paging older" href="/?p={{ page+1 }}">Older Posts &gt;&gt;</a>
    </div>
{% endif %}
</div>
{% if DISQUS %}
<script type="text/javascript">
    {{ DISQUS|safe }}
</script>
{% endif %}
{% endblock %}