{% extends "base.html" %}

{% block body %}
    <div class="articles">
        {% for item in data %}
            <div class="article">
                <h1><a href="/article/{{ item.id }}">{{ item.title }}</a></h1>
                <h3>POST on {{ item.date }}</h3>
                <div class="content">
                    {{ item.content }}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block script %}
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/rixb.js"></script>
{% endblock %}