{% extends "base.html" %}

{% block style %}
<style>
</style>
{% endblock %} 

{% block css %}
<link rel="stylesheet" href="/static/css/index.css">
<link rel="stylesheet" href="/static/css/foundation-icons.css" />
{% endblock %}

{% block body %}
    <div class="articles">
        {% for item in data %}
            <div class="article">
                <h1><a href="/articles/{{ item.id }}">{{ item.title }}</a></h1>
                <div class="aricle-container">
                    <h6 class="date"><i class="fi-clock clock"></i>{{ item.date }}</h6>
                    <div class="content">{{ item.content }}</div>
                    {% if item.tag %}
                        <div class="tags">
                        <i class="fi-pricetag-multiple bookmark"></i>
                        {% for tag in item.tag %}
                            <a class="tag" href="/tags/{{ tag.id }}">{{ tag.tag_name }}</a>
                        {% endfor %}
                        </div>
                    {% endif %}
                    {% if DISQUS %}
                    <div class="comment">
                          <div id="disqus_thread"></div>
                    </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
    {% if DISQUS %}
    <script type="text/javascript">
        {{ DISQUS }}
    </script>
    {% endif %}
{% endblock %}