{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="/static/css/search.css">
<link rel="stylesheet" href="/static/css/foundation-icons.css" />
{% endblock %}

{% block body %}
<div class="form-container">
    <form method="POST" action="##">
        <h3 class="search-title">Search</h3>
        <div class="input-container">
            <input class="page-input" type="text" placeholder="Search :P" name="kw" />
            <button class="page-button"><i class="fi-magnifying-glass search-icon"></i></button>
        </div>
    </form>
</div>
{% endblock %}
