{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="/static/css/signin.css">
{% endblock %}


{% block body %}
<div class="form-container">
    <form id="signin" method="POST" action="##">
        <h3 class="sign-in-title">Manager</h3>
        <div class="input-container"><input class="input" id="un" type="text" placeholder="Username" name="username" /></div>
        <div class="input-container"><input class="input" id="pw" type="password" placeholder="Password" name="password" /></div>
        <a class="button-sign-in" href="##">Sign in</a>
        <div class="alert"></div>
    </form>
</div>
{% endblock %}

{% block script %}
<script>
    $(".button-sign-in").click(function () {
        rixb.login($("#un")[0].value, $("#pw")[0].value, $(".alert"));
    })   
</script>
{% endblock %}
