.avatar {
    overflow: hidden;
    border: 4px solid #FFF;
    margin: 20px auto;
    box-shadow: 0 0 10px #000;
    width: 120px;
    border-radius: 100%;
    transition: transform 400ms;
    -webkit-transition: -webkit-transform 400ms;
    -moz-transition: -moz-transform 400ms;
}

.avatar:hover {
    -webkit-transform:rotate(30deg);
    -moz-transform:rotate(30deg);
    transform:rotate(30deg);
}

.avatar img {
    width: 100%;
    border-radius: 100%;
}

.email {
    text-decoration: blink;
}

.email i {
    text-align: center;
    font-size: 1.1em;
    display: block;
}

.motto {
    margin: auto;
    font-size: 1.5em;
    text-align: center;
}

.mdl-navigation > a {
    font-weight: 600;
}

.wrapper {
    margin: auto;
}

blockquote:before, blockquote:after {
    display: none;
}